{% extends "layout.html" %}

{% block title %}Add New Item{% endblock %}





{% block content %}
<h2>Add New Item</h2>
<form method="post" action="http://127.0.0.1:5000/add">
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title" required><br><br>

    <label for="description">Description:</label><br>
    <textarea id="description" name="description" rows="4" cols="50" required></textarea><br><br>

    <input type="button" onclick="send_data()" value="Add Item">
</form>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    const send_data = () => {
        axios.post('http://127.0.0.1:5000/add', {
            title: title.value,
            description: description.value
        })
    }


</script>
{% endblock %}